:root {
    --first: #5AA9E6;
    --second: #FF6392;
    --title: #F9F9F9;
    --accents: #FF85A9; 
    --background-color: #7FC8F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forecastDiv  {
    background-color: var(--background-color);
}
body {
    font-family: Montseratt, Open Sans, sans-serif;
}
header {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(
        to right, var(--first) , var(--second));
}
header h1 {
    color: var(--title);
}
.searchCity {
    width: 25%;
    display: inline-block;
    padding: 20px;
    border-bottom: 2px solid var(--second); 
}
.searchCity input[type=text] {
    padding: 5px;
    margin-top: 8px;
    font-size: 17px;
}
.searchCity button, .savedCities button {
    background-color: var(--second);
    margin-left: 3px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 65px;
    color: var(--title);
    border: 0;
}
.searchCity button:hover, .savedCities button:hover {
    background-color: var(--accents);
  }
.currentWeather {
    display: flex; 
    padding: 20px;
    clear: both; 
    float: right;
    width: 75%;
}
.savedCities {
    width: 25%;
    display: inline-block;
    padding: 20px; 
}
.futureWeather {
    padding: 20px;
    clear: both; 
    float: right;
    width: 75%;
    height: 100%;
}
#curWeather {
    background: rgba(127, 200, 248);
    color: var(--title);
}